{% extends 'utilisateur/base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block container %}
    <h1>Create new Produit</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('produitback_index') }}">back to list</a>
{% endblock %}
