{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block container %}

    <h3>Create your event</h3>

    {{ include('evenement/_form.html.twig') }}

    <a href="{{ path('app_evenement_index') }}">back to list</a>

     
{% endblock %}
