<form method="post" action="{{ path('app_utilisateur_delete', {'idUser': utilisateur.idUser}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.idUser) }}">
    <button class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top" >Delete</button>
</form>
