{% extends 'utilisateur/base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block container %}
    <h2 class="text-lg font-medium mr-auto">Edit Utilisateur</h1>
    <br>
    
    {{ include('utilisateur/_formEdit.html.twig', {'button_label': 'Update'}) }}
    <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
    {{ include('utilisateur/_delete_form.html.twig') }} 
    
    
    
    </div>
{% endblock %}
