{% extends 'utilisateur/base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block container %}
    <h2 class="text-lg font-medium mr-auto">Create new Utilisateur</h1>
    <br>
    <br>

    {{ include('utilisateur/_form.html.twig') }}
    
{% endblock %}
