{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
    <h1>Create new Utilisateur</h1>

    {{ include('utilisateur/_form.html.twig') }}

    <a href="{{ path('app_utilisateur_index') }}">back to list</a>
{% endblock %}
