
.navact{
    background-color: white;
    display: flex;
    gap: 20px;
    height: 40px;
    border-top: 1px rgb(250, 245, 245) solid;
    border-bottom: 1px rgb(250, 245, 245)solid;
    
}
.all{
    background: #f8fafb;
}
.section{
    margin-left: 30px;
    margin-right: 50px;
display: flex;
flex-direction: row;

gap: 50px;
}

.rightside{
width:600px;



}
.presentation{
padding-top: 20px;
padding-left: 20px;

    
}
.rightbloc{
    
    margin-top: 70px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffffff;
    width:600px;
    color: white;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);

}
.org{
    height: 50px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px rgb(233, 225, 225) solid;
    
}
.part{
    gap: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px rgb(233, 225, 225)solid;
    height: 50px;
    
}
.place{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.price{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
}
.price h1{
    padding-left: 10px;
    font-size: 30px;
    color: rgb(65, 167, 207);
}
.price img{
    width: 100px;
    height: 100px;
}
.rightbloc span {
    font-size: 17px;
    color: #859098;
}
.bloc{
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content:space-around;
    background-color: #ffffff;
    height: 200px;
    width:600px;
    color: white;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);

}
.bloc2{
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap:30px;
    flex-direction: column;
    background-color: #ffffff;
    padding-bottom: 10px;
    width:600px;
    color: white;

}
.desc{
    padding: 10px 10px 10px;
}
.desc p{
    padding-top: 10px;
}

.b1{

display: flex;
gap: 10px;
align-items: center;
justify-content: center;
flex-direction: column;
}
.b2{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
.b1 img{
    width: 100px;
    height: 100px;
}
.b2 img{
    width: 100px;
    height: 100px;
}
.navact button{
    font-size: 15px;
    color: rgb(182, 174, 174);
    margin-left: 70px;

}
.navact a{
    font-size: 15px;
    color: rgb(182, 174, 174);
    margin-left: 560px;
    margin-top: 10px;
    color: rgb(207, 74, 74);

}
.navact .first{
    
    font-size: 17px;
    color: rgb(18, 221, 62);;
    
}
.abon{
display: flex;
align-items: center;
justify-content: center;
}

.abon .btn:hover{
    background-color:rgb(37, 113, 143);

}
.abon .btn{
    
    background-color:rgb(65, 167, 207);
    width: 150px;
    font-size: 15px;
    color: rgb(241, 238, 238);
    height: 50px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.inscription-form {
    color: #859098;
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto;   /* Center the form on the page */
}

/* Style form fields */
.inscription-form label {
    display: block;
    margin-bottom: 8px;
}

.inscription-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
/*form new act*/
.content{
    
    color:#ffffff;
    display: flex;
    flex-direction: column;
    height: 600px;
    /**/
    position: relative;
    background:url(../images/welcome-hero/background.png)no-repeat;
    background-position:center;
    background-size:cover;
    text-align: center;
    z-index: 1;
    
}
.titre{
    height: 150px;
    font-size: 20px;
    padding-top: 30px;
}
.titre h1{
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    line-height: 1.4;
    
}
.tot{
    color:#ffffff;
    display: flex;
    flex-direction: row;
}
.buttons{
    background-color: rgba(70, 66, 66, 0.5);
    display: flex;
    flex-direction: column;  

    justify-content: flex-start;
    width: 200px;
}
.form-new{
    background-color: rgba(70, 66, 66, 0.5);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.buttons a {
    margin-top: 10px;
    background-color:#60941A;
    width: 110px;
    font-size: 12px;
    color: rgb(241, 238, 238);
    height: 40px;
    border-radius: 4px;
    text-align: center;
    padding-top: 10px;

}
.form-new .btn1{
    background-color:#60941A;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    margin-top: 50px;
}
/************************************************/
.image img{
    width: 400px;
}

