.content {

background-color: whitesmoke;
    height:100%;
    display: flex;
    flex-direction: row;
}
.tickettable{
background-color: #007bff;
height :200px;
width: 50%;
}
.inscription_list{
    height:10px;
}
/* Apply basic styles to the table */
.table2 {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust as needed */
}

/* Style the table header */
.table2 th {

    padding: 10px;
    text-align: left;
    color: #2b2525;
   
}

/* Style the table rows */
.table2 td {
    padding: 10px;
    border: 1px solid #ddd; /* Border color */
}

/* Style alternating rows for better readability */

/* Style links inside table cells */
.table2 a {
    text-decoration: none;
    color: #007bff; /* Blue color for links, adjust as needed */
}

/* Add hover effect to links */
.table2 a:hover {
    text-decoration: underline;
}

/* Style the "you have no inscription right now" message */
.table2 tbody tr:nth-last-child(2),
.table2 tbody tr:last-child {
    font-style: italic;
    color: rgb(31, 28, 28); /* Gray color for the message */
}

/* Adjust styling for the "go back to the home page and make one" message */
.table2 tbody tr:last-child {
    font-weight: bold;
    color: rgb(31, 28, 28); /* Darker color for emphasis */
}



.qrcode #qrCodeImage{
    height: 100px;
    width: 100px;
    margin-left: 10px;
}
.ticket{
    border-radius: 4px;
   
    width: 600px;
    margin-left: 50px;
    height: 200px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    gap: 280px;
    background:url(../images/welcome-hero/Ticket.png)no-repeat;
    
    background-position:center;
    background-size:cover;
    background-color: #8D2649;
    z-index: 1;
}
.ticket img{
    max-height: 100px; /* Set the maximum desired height */
    max-width: 120px;  /* Set the maximum desired width */
    width: auto;       /* Allow the width to adjust proportionally */
    height: auto;
    object-fit: fill;
}

.ticket .nomactivte{


    margin-top: 170px;

}
.ticket .nomactivte h4 {
    color: #ddd;
    font-size: 15px;
    font-style: italic;
}
.content-ticket{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap:100px;
}
.leftside{

    margin-left: 20px;
}
.leftside p {
    font-size: 17px;
}
.leftside h1 {
    font-size: 19px;
    color: #8D2649;
}
.leftside #note{
    color: #FF3131;
    
}
.btndownload{
    margin-top: 20px;
    border-radius: 7px;
    color: azure;
    width: 120px;
    height: 40px;
    background-color: #8D2649;
}
.btndownload:hover{

    background-color: #5e1f34;

}