<form method="post" action="{{ path('app_traitements_delete', {'idt': traitement.idt}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ traitement.idt) }}">
    <button class="btn">Delete</button>
</form>
