{% extends 'utilisateur/base.html.twig' %}

{% block title %}Edit Traitements{% endblock %}

{% block container %}
    <h1>Edit Traitements</h1>

    {{ include('traitements/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_traitements_index') }}" class="btn">back to list</a>

    {{ include('traitements/_delete_form.html.twig') }}
{% endblock %}
