<form method="post" action="{{ path('app_inscription_delete', {'Id_ins': inscription.Id_ins}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscription.Id_ins) }}">
    <button class="btn">Delete</button>
</form>
