{% extends 'base.html.twig' %}

{% block title %}Edit Inscription{% endblock %}

{% block body %}
    <h1>Edit Inscription</h1>

    {{ include('inscription/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_inscription_index') }}">back to list</a>

    {{ include('inscription/_delete_form.html.twig') }}
{% endblock %}
