{% block title %}Edit Inscription
{% endblock %}

{% block container %}
	<div>
		<h4>Edit Inscription</h4>

		{{ include('inscription/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_inscription_index') }}">back to list</a>

		{{ include('inscription/_delete_form.html.twig') }}
	</div>
{% endblock %}
