{% extends   %}

{% block title %}New Message{% endblock %}

{% block container  %}
   <h2> <i>Create New Message</h2>

    {{ include('message/_form.html.twig') }}

    <a href="{{ path('app_message_index') }}">back to list</a>
{% endblock %}
