{% extends 'utilisateur/base.html.twig' %}
{% block title %}Statistiques Reclamations{% endblock %}
{% block container %}
<html>
<head></head>
<body>
    <div id="div_piechart"></div>
    <div id="div_histogram"></div>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw([pieChart, histogram], ['div_piechart', 'div_histogram']) }}
    </script>
    <a href="{{ path('app_reclamations_index') }}" class="btn">back </a>
</body>
</html>
{% endblock %}