{% extends 'utilisateur/base.html.twig' %}

{% block title %}Edit Reclamations{% endblock %}

{% block container %}
    <h1>Edit Reclamations</h1>

    {{ include('reclamations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reclamations_index') }}" class="btn">back to list</a>

    {{ include('reclamations/_delete_form.html.twig') }}
{% endblock %}
