{% extends 'base.html.twig' %}

{% block title %}New Reclamations{% endblock %}



{% block container %}

<style>
.title1 {
     font-size: 40px;
  font-weight: 900;
  margin: 50px 40px 40px;
  color: white; 
  
     
    }

  .posit {
      top= 100%;
      left= 100%;
  }  
  
   

</style>

<section  class="welcome-hero" position="center">
<div  >
        <div class="posit">
        <h1 class="title1" color="white" >Submit a complaint</h1>
        </div>

    
        <div class="col-md-6">
        
            {{ include('reclamations/_form.html.twig') }}
        </div>
    

   
    </section>
    </div>
{% endblock %}
