
{% extends 'base.html.twig' %}
{% block title %} Channel {% endblock %}

{% block container %}
    <div class="container">
        <h1>Channel</h1>

        <table class="table">
             <tr>
        <th>Nom Forum</th>
         <th>Nom Evenement</th>
        <th>Nombre de Participants</th>
    </tr>
     
      
    <tr>
        <td>{{ channel.nomCh }}</td>
        <td>{{ channel.evenement.nomEvent }}</td>
        <td>{{ channel.evenement.nbParticipants }}</td>
    </tr>
</table>

        <div class="navigation-links">
            <a href="{{ path('app_channel_index') }}">Back to List</a>
        </div>

        
    </div>

    <style>
        .container {
            margin-bottom: 50px; 
        }

        .navigation-links {
            margin-top: 100px; 
        }

        .navigation-links a {
            margin-right: 50px; 
        }
    </style>
{% endblock %}