{% extends 'base.html.twig' %}

{% block title %} Channel {% endblock %}

{% block container %}
    <h1>Channel</h1>

    <table class="table">
    

          
            <tr>
                <th>Nom Channel </th>
                <td>{{ channel.nomCh }}</td>
                
            </tr>
      
    </table>

    <a href="{{ path('app_channel_index') }}">back to list</a>

    <a href="{{ path('app_channel_edit', {'idCh': channel.idCh}) }}">edit channel</a>

    {{ include('channel/_delete_form.html.twig') }}
{% endblock %}
