{% extends 'utilisateur/base.html.twig' %}
{% block title %}Edit Activites
{% endblock %}
{% block container %}
	<div>
		<h4>Edit Activites</h4>
	</br>

	{{ include('activites/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_activites_index') }}">back to list</a>

</div>{% endblock %}
