<h1>activite liste</h1>

{% if aa is not empty %}
	{% for activite in aa %}
		<h1>{{ activite.nomAct }}</h1>
		<p>{{ activite.description }}</p>
	{% endfor %}
{% else %}
	<p>No matching activities found.</p>
{% endif %}
