{% extends 'utilisateur/base.html.twig' %}
{% block title %}{% endblock %}


{% block container %}


	<h1 style="font-size: 25px; margin-top:10px;">Create new activity</h1>


	<br>


	<div class="form-new">
		{{ include('activites/_form.html.twig') }}
	</div>


{% endblock %}
